body {
    text-align: center;
    background-color: rgb(252, 255, 255);
}

.container {
    padding: 45px 0;
}

.row {
    gap: 40px;
}

.col {
    border-radius: 20px;
}

.button {
    border-radius: 8px;
    border: 2px solid rgb(184, 183, 183);
    padding: 8px 20px;
}

.button:hover {
    border: 2px solid #000;
    background-color: rgba(91, 91, 252, 0.75);
}

.dices-img {
    width: 150px;
    padding-bottom: 20px;
}

.launch-results {
    opacity: 0;
    transition-duration: .7s;
    padding-top: 15px;
}

#winner {
    width: 300px;
    margin: 60px auto;
    opacity: 0;
    transition-duration: 1s;
    transition-delay: .5s;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: rgba(233, 233, 233, 0.5);
}

#findRecord, #findWinner {
    text-decoration: none;
    width: 20%;
    margin: 15px auto;
    background-color: #F0F0F0;
    border-radius: 8px;
    padding: 8px 20px;
    border: 2px solid rgb(184, 183, 183);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: .5s;
}

#findRecord a, #findWinner a {
    color: #000;
}

#findRecord:hover, #findWinner:hover {
    transition-duration: 0s;
    transition-delay: 0s;
    border: 2px solid #000;
    background-color: rgba(91, 91, 252, 0.75);
}